<%- layout('layouts/boilerplate') %>

    <div class="row mt-4">
        <div class="col">
            <div class="card mx-auto" style="width: 19rem;">
                <img src="<%= product.image %>" height="210px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= product.title %></h5>
                  <p class="card-text"><%= product.description %></p>
                  <a href="#" class="btn btn-sm btn-success">Add to Cart</a>
                  <a href="#" class="btn btn-sm btn-primary">Update</a>
                  <!-- <a href="#" class="btn btn-sm btn-danger">Delete</a> -->
                  <form  class="d-inline" action="/products/<%= product._id %>?_method=DELETE" method="post">
                    <button class="btn btn-sm btn-danger">Delete</button>
                  </form>
                  <a href="/products/<%= product._id %>/edit" class="btn btn-sm btn-secondary">Edit</a>
                </div>
            </div>
        </div>
        <div class="col">
            <h2 class="display-5">Reviews</h2>
        </div>
    </div>